@using ProductivityCentral.Web.Models
@model OperatorReportViewModel

@{
    ViewBag.Title = "Operator Report";
}

<h2>Operator Report</h2>


<table>
    <thead>
        <tr>
            <th>S.No.</th>
            <th>Operator Name</th>
            <th>Proactive Sent</th>
            <th>Proactive Answered</th>
            <th>Proactive Response Rate</th>
            <th>Reactive Received</th>
            <th>Reactive Answered</th>
            <th>Reactive Response Rate</th>
            <th>Total Chat Length</th>
            <th>Average Chat Length</th>
        </tr>
        @foreach (OperatorReportViewModel item in Model)
        { 
        <tr>
            <td>@item.ID</td>
            <td>@item.Name</td>
            <td>@item.ProactiveSent</td>
            <td>@item.ProactiveAnswered</td>
            <td>@item.ProactiveResponseRate</td>
            <td>@item.ReactiveReceived</td>
            <td>@item.ReactiveAnswered</td>
            <td>@item.ReactiveResponseRate</td>
            <td>@item.TotalChatLength</td>
            <td>@item.AverageChatLength</td>
        </tr>
        }
    </thead>
</table>

